**/torrents/**

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest**
*.pytest_cache**
dist/**

# Visual Studio Code
.vscode/

# Logs
*.log

# Temporary files
*.tmp
*.swp

# build dirs / files
*.deb
debbuild/**
rpmbuild/**


