**/torrents/**

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest**
*.pytest_cache**
dist/**
build/**
*.egg-info/

# Testing
.coverage
htmlcov/
.pytest_cache/

# Visual Studio Code
.vscode/

# Logs
*.log

# Temporary files
*.tmp
*.swp

# Build dirs / files
*.deb
*.rpm
debbuild/**
rpmbuild/**
snippets/**

# Translation build artifacts
tools/translations/*.backup
tools/translations/*_fallbacks_to_translate.json
.pot_linecount

# translations
tools/translations/*_translation_request.json