[Desktop Entry]
Version=1.0
Type=Application
Name=D' Fake Seeder
Comment=BitTorrent seeding simulator for testing and development
Exec=dfakeseeder
Icon=ie.fio.dfakeseeder
StartupWMClass=ie.fio.dfakeseeder
StartupNotify=true
Terminal=false
Categories=Network;P2P;
Keywords=torrent;seeder;bittorrent;p2p;testing;development;
