[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.31.0"
typer = "==0.12.3"
urllib3 = "==1.26.18"
systemd-python = "*"
pygobject = "*"
watchdog = "*"

[dev-packages]
pytest = "==7.3.2"
setuptools = "==67.7.2"
black = "*"
isort = "*"
flake8 = "*"
mypy = "*"
types-requests = "*"

[requires]
python_version = "3.11"
